// todo：自定义滑动条
// 链接颜色
:root {
  --link:#007fff;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(243,243,243);
}

.a-link {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}

.el-dropdown-link:focus {
  outline: none;
}

.content-body {
  margin: 0 auto;
  padding-top: 5px;
}